<div class='flexible'>

	<div id='detalle-fotos'>

		<!-- <img src='img/blankDetalle.png' class='blankImg' /> -->
		<img src='img/default/{{item.tipo}}.png' class='blankImg' />
		<touch-slider class='touchSlider' fotos=' fotos_detalle ' url-imgs=' url_img '></touch-slider>

	</div>

	<div id='detalle-menu-info'>

		<div id='detalle-botonera'>
			<div>
				<boton-sistema accion="goTel()" id='detalle-btn_tel' imagen="img/btns/tel2.svg"></boton-sistema>
				<boton-sistema accion="goDir()" id='detalle-btn_dir'  imagen="img/btns/dir.svg"></boton-sistema>
				<boton-sistema accion="goFav()" id='detalle-btn_star' ng-if=' item.mi_fav == 0' imagen="img/btns/star.svg"></boton-sistema>
				<boton-sistema accion="goFav()" id='detalle-btn_star' ng-if=' item.mi_fav == 1' imagen="img/btns/star-full.svg"></boton-sistema>
				<boton-sistema accion="goMapa()" id='detalle-btn_lampara'  imagen="img/btns/lampara.svg"></boton-sistema>
			</div>
		</div>
		
		<div id='detalle-mini-desc' ng-class=" {'bg-color-bar': (item.tipo==1), 'bg-color-restaurante': (item.tipo==2) , 'bg-color-cine': (item.tipo==3), 'bg-color-evento': (item.tipo==4), 'bg-color-teatro': (item.tipo==5)} " >
			<div class='itemLista-name'>{{item.name}}</div>
			<div class='itemLista-tipo'>{{item.cat}}</div> 
			<div class='itemLista-tel'>T. {{item.tel}}</div>
			<div class='itemLista-dir'>{{item.dir}}</div>
		</div>
	
	</div>



	<div id='detalle-desc'>

	<!-- 	<div id='detalle-count-favs'><img src='img/btns/star-full.svg'> <div>{{item.favs}}</div></div>
		 -->
		{{long_desc}}
		<div ng-if=' long_desc == "" ' id='detalle-no-cargo-info'>Información no disponible</div>
		<div id='detalle-links-ext'>
			<boton-sistema accion="goFb()" id='detalle-btn_fb' imagen="img/btns/fb.svg" 		ng-if=' item.fb !="" '></boton-sistema>
			<boton-sistema accion="goSite()" id='detalle-btn_link'  imagen="img/btns/link.svg"   ng-if=' item.site !="" '></boton-sistema>
		</div>
	</div>

</div>

