<div style='height:100%; position: absolute; padding:5px; padding-right:30px; absolute; width: 100%;  box-sizing: border-box;'>

		 <dtable options="options" rows="data" class="material dt">
			  
			  <column name="ID" width='30'>{{$row.usuarios_id}}</column>
			  <column name="ID FACEBOOK"  width='150'>{{$row.usuarios_uid}}</column>
			  <column name="NOMBRE">{{$row.usuarios_nombre}}</column>
			  <column name="APELLIDO">{{$row.usuarios_apellido}}</column>
			  <column name="EMAIL">{{$row.usuarios_email}}</column>
			  <column name="CI"  width='150'>{{$row.usuarios_ci}}</column>
			  <column name="FECHA NAC.">{{$row.usuarios_fecha_nac}}</column>
			  <column name="SEXO">{{$row.usuarios_sexo}}</column>
			  <column name="FEHCA HORA REGISTRO">{{$row.usuarios_fecha_hora}}</column>

		 </dtable>


</div>