.animate-show.ng-hide-add, .animate-show.ng-hide-remove {

    transition: all linear .5s;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {

    opacity: 1;
}

	terms.ng-hide-add, terms.ng-hide-remove {
	  /* this is required as of 1.3x to properly
	     apply all styling in a show/hide animation */
	  transition: 0s linear all;
	  
		-webkit-transform: scale(1.3,1.3);
		transform: scale(1.3,1.3);
	}

	terms.ng-hide-add-active,
	terms.ng-hide-remove-active {
	  /* the transition is defined in the active class */
	  transition: .2s linear all;
	}

	terms.ng-hide-add {
		
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);

	}
	terms.ng-hide-add.ng-hide-add-active { 
		opacity:0; 
		-webkit-transform: scale(1.3,1.3);
		transform: scale(1.3,1.3);
	}
	terms.ng-hide-remove {  
	
	opacity:0; 
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);

	 }
	terms.ng-hide-remove.ng-hide-remove-active { 

 	opacity: 1;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

  }





	.registro.ng-hide-add, .registro.ng-hide-remove {
	  /* this is required as of 1.3x to properly
	     apply all styling in a show/hide animation */
	   transition: 0s linear all;
	  

	}

	.registro.ng-hide-add-active,
	.registro.ng-hide-remove-active {
	  /* the transition is defined in the active class */
	  transition: .2s linear all;
	}

	.registro.ng-hide-add {
		
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);

	}
	.registro.ng-hide-add.ng-hide-add-active { 
		opacity:0; 
		-webkit-transform: scale(1.3,1.3);
		transform: scale(1.3,1.3);
	}
	.registro.ng-hide-remove {  
	
		opacity:0; 
		-webkit-transform: scale(1.3,1.3);
		transform: scale(1.3,1.3);

	 }
	.registro.ng-hide-remove.ng-hide-remove-active { 

 	opacity: 1;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

  }



/*CHEK BOX*/

.checkBox-selected{
	transition: 0.1s;
	transform: translate3d(0,0,0px);
}
.checkBox-selected.ng-hide-add{
	/* transform: scale(1,1);*/
	opacity:1.0;
	/*transform: translate3d(0,0,0);*/
}

.checkBox-selected.ng-hide-add-active{
	/*transform: scale(0,0);*/
	opacity:0.0;
	/*transform: translate3d(0,0,-10px);*/
}

.checkBox-selected.ng-hide-remove{
	/*transform: scale(0,0);*/
	opacity:0.0;
	/*transform: translate3d(0,0,-10px);*/
}
.checkBox-selected.ng-hide-remove-active{
	/*transform: scale(1,1);*/
	opacity:1.0;
	/*transform: translate3d(0,0,0);*/
}

.checkBox-selected.ng-hide-add-active,
.checkBox-selected.ng-hide-remove-active {

}



.enter .seccion.ng-hide-add, .enter .seccion.ng-hide-remove {
  transition: 0s linear all;
}
.enter .seccion.ng-hide-add-active,
.enter .seccion.ng-hide-remove-active {
   transition: .35s;
   pointer-events:none !important;
}

.enter .seccion.ng-hide-add { 
	-webkit-transform: translateX(0px);
	opacity:  1.0;
}
.enter .seccion.ng-hide-add.ng-hide-add-active { 
	display: block!important;
	/*-webkit-transform: translateX(-170px) scale(.9,.9);;*/
	-webkit-transform: translate3d(-170px, 0px, -100px);
	opacity: 0.0;
 }

.enter .seccion.ng-hide-remove { 

	display: block!important;
	/*-webkit-transform: translateX(100%);*/
	-webkit-transform: translate3d(768px, 0, 0);
	opacity: 1.0;

}
@media all and (max-width: 500px) {
	.enter .seccion.ng-hide-remove {-webkit-transform: translate3d(500px, 0, 0);}
}
@media all and (max-width: 400px) {
	.enter .seccion.ng-hide-remove {-webkit-transform: translate3d(400px, 0, 0);}
}
@media all and (max-width: 360px) {
	.enter .seccion.ng-hide-remove {-webkit-transform: translate3d(360px, 0, 0);}
}
@media all and (max-width: 320px) {
	.enter .seccion.ng-hide-remove {-webkit-transform: translate3d(320px, 0, 0);}
}





.enter .seccion.ng-hide-remove.ng-hide-remove-active { 
	/*-webkit-transform: translateX(0px);*/
	-webkit-transform: translate3d(0px, 0, 0px);
	opacity:  1.0;
}


.back .seccion.ng-hide-add, .back .seccion.ng-hide-remove {
  transition: 0s linear all;
}
.back .seccion.ng-hide-add-active,
.back .seccion.ng-hide-remove-active {
   transition: .35s;
   pointer-events:none !important;
}

.back .seccion.ng-hide-add { 

/*	-webkit-transform: translateX(0px);*/
	-webkit-transform: translate3d(0px, 0, 0px);
	opacity:  1;
	
}
.back .seccion.ng-hide-add.ng-hide-add-active { 
	
	display: block!important;
	/*-webkit-transform: translateX(100%) scale(1,1);*/
	-webkit-transform: translate3d(1000px, 0px, 0px);
	opacity: 1.0;
}
@media all and (max-width: 500px) {
	.back .seccion.ng-hide-add.ng-hide-add-active {-webkit-transform: translate3d(500px, 0, 0);}
}
@media all and (max-width: 400px) {
	.back .seccion.ng-hide-add.ng-hide-add-active{-webkit-transform: translate3d(400px, 0, 0);}
}
@media all and (max-width: 360px) {
	.back .seccion.ng-hide-add.ng-hide-add-active {-webkit-transform: translate3d(360px, 0, 0);}
}
@media all and (max-width: 320px) {
	.back .seccion.ng-hide-add.ng-hide-add-active {-webkit-transform: translate3d(320px, 0, 0);}
}



.back .seccion.ng-hide-remove { 

	

	display: block!important;
	/*-webkit-transform: translateX(-170px) scale(.9,.9);*/
	-webkit-transform: translate3d(-170px, 0, -100px);
	opacity: 0.0;

 }
.back .seccion.ng-hide-remove.ng-hide-remove-active { 
	
	/*-webkit-transform: translateX(0px);*/
	-webkit-transform: translate3d(-0px, 0, 0px);
	opacity:  1.0;
	

}




