* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light-webfont.woff2') format('woff2'),
    url('fonts/roboto-light-webfont.woff') format('woff'),
    url('fonts/roboto-light-webfont.ttf') format('truetype'),
    url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('fonts/roboto-bold-webfont.woff') format('woff'),
    url('fonts/roboto-bold-webfont.ttf') format('truetype'),
    url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {

    height: 100%;
    /* background-color: rgba(0, 0, 0,0);*/
}

body {

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666;
}

.ng-isolate-scope {
}

#bg {

    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;

    top: 0px;
    left: 0px;
}

#viewBg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.viewBg0 {

    height: 100%;

}

.viewBg1 {

    height: 80px;
}

.alpha {
    visibility: hidden;
}

.bg-color-bar {
    background-color: #ff99ff
}

.bg-color-restaurante {
    background-color: #EFE923
}

.bg-color-cine {
    background-color: #28eaa4
}

.bg-color-teatro {
    background-color: #FF9966
}

.bg-color-evento {
    background-color: #00ccff
}

#taxi-box-shadow {
    position: absolute;
    width: 75%;
    height: 90%;
    border-radius: 20px;
    background-color: #37353A;
    left: 15%;
    top: 5%;
}

#taxi-box-content {
    position: absolute;
    width: 75%;
    height: 90%;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    left: 13%;
    text-align: center;
    top: 3.6%;

}

.menu-header-en-home-add, .menu-header-en-home-remove {
    transition: .3s;
}

#menu-header {

    -webkit-transform: translateX(0px);

}

.menu-header-en-home {

    -webkit-transform: translateX(-61px) !important;
}

#taxi-voyentaxi {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    /* margin-top: -150px; */
}

#taxi-easytaxi {
    width: 80%;
    left: 10%;
    position: absolute;
    bottom: 20%;
    margin-top: 60px;
}

#header_menu > div {

}

#btn_home_ar {
    transition: .2s;
}

.botonListaOver {
    background-color: #fff !important;
}

.botonOver {
    transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
}

.botonDisabled {
    opacity: .2;
}

.botonSistemaLabel {
    font-size: 12px;
    color: #fff;
    font-family: 'robotolight';
    position: relative;
    margin-top: 10px;
}

#home-banner {
    position: relative;
    width: 100%;
    -webkit-flex: none;
    overflow: hidden;
}

#home-banner > img {
    width: 100%;
}

#home-menu {
    -webkit-flex: auto;
    -webkit-flex-direction: row;
    -webkit-flex: none;
    display: -webkit-flex;
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
}

#home-menu > div {
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 288px;
    text-align: center;
    margin: 0 auto;
}

#home-menu > img {
    position: relative;
    margin: 10px;
}

.itemLista {

}

/* HEADER*/
#header_menu {
    position: relative;
    height: 87px;
    width: 100%;
}

#btn_back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}

#btn_back > img {
    position: relative;
    margin: 17px 0px 0px 13px;
}

.header_separador {
    position: absolute;
    top: 0px;
    height: 60px;
}

#header_separador_0 {
    left: 60px;
}

#header_separador_1 {
    left: 120px;
}

#btn_menu {
    position: absolute;
    top: 0px;
    left: 60px;
    width: 60px;
    height: 60px;
}

#btn_menu > img {
    margin: 21px 0px 0px 19px;
}

#header_linea {
    position: absolute;
    left: 0px;
    top: 60px;
    background-image: url(../img/bg_linea_header.png);
    width: 100%;
    height: 1px;
    background-repeat: repeat-x;
    background-size: 100%;
}

#btn_taxi {
    position: absolute;
    right: 30px;
    top: 15px;
}

#header_geobar {
    position: absolute;
    left: 121px;
    top: 0px;
    height: 60px;
    width: 102px;
}

#header_geobar > img {
    position: relative;
    margin: 20px 0px 0px 13px;
}

#btn_home_quehacer {

    width: 80px;
    height: 130px;

    -webkit-flex: none;
}

#btn_home_lista {

    width: 64px;
    height: 90px;
    -webkit-flex: none;
}

#btn_home_ar {

    width: 81px;
    height: 87px;

    -webkit-flex: none;
}

#btn_home_maps {

    width: 70px;
    height: 88px;

    -webkit-flex: none;
}

/* fin HEADER*/

#seccionLoaderController {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    margin: 0px;
    padding: 0;

}

.seccion {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;

}

#lista-content-input {
    padding: 0px 10px 0px 10px;
    position: relative;
}

.listado {
    position: absolute;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    top: 50px;
    -webkit-transform: translateZ(0);
}

.lista-input-filter {

    font-family: 'robotolight';
    padding: 9px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: #333;
    border: solid 1px #666;
    color: #fff;
    font-size: 14px;
    -webkit-appearance: none;
    border-radius: 0px;
    text-decoration: none;
}

.itemLista-name {
    font-family: 'robotobold';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 13px;
    line-height: 20px;
}

.itemLista-tel {
    font-family: 'robotobold';
    font-size: 12px;
    font-style: italic;
}

.itemLista-dir {
    font-family: 'robotobold';
    font-size: 12px;
    font-style: italic;
}

.itemLista-tipo {
    font-family: 'robotolight';
    font-size: 11px;
}

.itemLista-distancia {
    font-family: 'robotolight';
    font-size: 9px;
    color: #2F2E2E;
    padding-left: 0 !important;
    position: absolute !important;
    top: 4px;
    width: 59px !important;
    right: 6px;
    text-align: right;
    padding-right: 0 !important;
}

.item-lista {
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    border-bottom: solid 2px #fff;
    font-size: 12px;
}

.item-lista > div > div {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.item-lista > div > img-loader > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 90px;
}

#listado-btn-cargar-mas {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

#listado-btn-cargar-mas > div {
    background-color: #333;
    font-family: 'robotolight';
    font-size: 11px;
    text-align: center;
    padding: 15px;
    color: #fff;
}

#map_canvas {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0px;
}

#mapa {
    width: 100%;
    height: 100%;
}

#taxi {
    width: 100%;
    height: 100%;
    position: absolute;
}

#lista-sin-resultados {
    color: #fff;
    font-family: 'robotolight';

    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999;
}

#loader > div {
    /* background-color: rgba(0,0,0,.9); */
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    margin-top: -80px;
    margin-left: -50px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#loader img {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    width: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

#detalle-fotos {
    position: relative;
    width: 100%;
    -webkit-flex: none;
    overflow: hidden;
}

#detalle-fotos > img {
    position: absolute;
    width: 100%;
    top: 0px;
    -webkit-flex: none;
    display: block;
}

#detalle-menu-info {
    position: relative;
    width: 100%;
    border-bottom: solid 2px #fff;
    -webkit-flex: none;
    display: -webkit-flex;
    -webkit-align-items: center;
}

#detalle-botonera {
    width: 50%;
    position: relative;
}

#detalle-botonera > div {
    width: 170px;
    position: relative;
    margin: 0 auto;
}

#detalle-mini-desc {
    width: 50%;
    padding: 14px;
    box-sizing: border-box;
    -webkit-flex-grow: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

#detalle-desc {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-family: 'robotolight';
    color: #ffffff;
    padding: 0px 10px 0px 9px;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.blankImg {
    position: relative !important;
}

.flexible {

    display: -webkit-flex;

    -webkit-flex-flow: column;
    height: 100%;

    overflow: hidden;

}

#btn_home_quehacer {

}

#detalle-btn_tel {
    position: relative;
    height: 60px;
    float: left;
    width: 40px;
    display: inline;
}

#detalle-btn_tel > img {
    position: relative;
    margin: 14px 0px 0px 13px;
    height: 30px;
}

#detalle-btn_dir {
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
}

#detalle-btn_dir > img {
    position: relative;
    margin: 14px 0px 0px 7px;
    height: 29px;
}

#detalle-btn_star {
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
}

#detalle-btn_star > img {
    position: relative;
    margin: 12px 0px 0px 4px;
    width: 32px;
}

#detalle-btn_lampara {
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
}

#detalle-btn_lampara > img {
    position: relative;
    margin: 12px 0px 0px 6px;
    height: 33px;
}

#detalle-count-favs {

    height: 20px;

    line-height: 20px;

    font-size: 10px;

    margin-bottom: 10px;

    /* float: left; */
}

#detalle-count-favs > img {

    width: 20px;

    float: left;
}

#detalle-count-favs > div {

    /* width: 20px; */

    float: left;

    margin-left: 6px;

    margin-top: 2px;
}

#detalle-btn_info {
    position: relative;
    width: 40px;
    height: 60px;
    float: left;
}

#detalle-btn_info > img {
    position: relative;
    margin: 14px 0px 0px 4px;
    height: 31px;
}

#detalle-btn_fb {
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
}

#detalle-btn_fb > img {
    position: relative;
    margin: 5px 0px 0px 4px;
    height: 31px;
}

#detalle-btn_link {
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
}

#detalle-btn_link > img {
    position: relative;
    margin: 4px 0px 0px 11px;
    height: 30px;
}

#detalle-links-ext {

    width: 100%;

    position: relative;

    height: 50px;

    margin-bottom: 20px;
    margin-top: 6px;
}

#detalle-mini-desc .itemLista-name {
    margin-top: 0px;
}

#detalle-no-cargo-info {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.no-disponible {
    color: #fff;
    font-family: 'robotolight';
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

#mapa-botonera {
    width: 123px;
    position: relative;
    margin: 0 auto;
    height: 50px;
    margin-top: 8px;
}

/*************/
/* TOUCH SLIDER */

.touchSlider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.touchSlider .tiraSlide {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}

.touchSlider .itemSlide {
    position: absolute;
    top: 0px;
    height: 100%;
    outline: none;

}

.touchSlider .itemSlide > img {
    position: relative;
    /* height: 100%; */
}

.touchSlider .itemSlide .image-bg {

    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    transition: background linear 1s;
    background-position: center;
}

.touch-slide-holder-bullets {

    position: absolute;
    width: 100%;
    height: 30px;

    bottom: 0px;

    display: -webkit-flex;

    -webkit-flex-direction: row;

    -webkit-align-items: center;

    -webkit-justify-content: center;

}

.touch-slide-bullet {
    width: 7px;
    height: 7px;
    background-color: #fff;

    margin: 7px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px #000;
    transition: .2s;
    opacity: 0.6;
}

.touch-bullet-select {

    width: 12px;

    opacity: 1;

}

/* FIN TOUCH SLIDER */
/*************/

#el-mapa {
    width: 100%;
    height: 100%;
}

#mapa-info-content {

    height: 260px;

}

/* CONFIG */
.config-label {
    width: 100%;
    padding: 8px 4px 8px 40px;
    font-family: 'robotobold';
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.config-row {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0px 40px 0px 40px;
    box-sizing: border-box;
    font-family: 'robotolight';
    color: #fff;
}

.config-row > .label {
    float: left;
    position: relative;
    margin-top: 13px;
    font-size: 12px;
}

.config-row > .label a {

    color: #ffff00;
    text-decoration: underline;
}

.config-conent-slider {
    position: relative;

    width: 100%;
    box-sizing: border-box;
    padding: 0px 2px 0px 90px;
    height: 40px;
    /* margin-top: 5px; */
}

.config-disabled {
    opacity: .1;
    pointer-events: none;
}

#config-scrolling {

    position: absolute;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;

    -webkit-transform: translateZ(0);

    padding-bottom: 40px;
}

/*Check box*/
.checkBox {
    width: 40px;

    height: 40px;
    position: relative;
    float: right;
}

.checkBox-bg {
    position: relative;

    width: 25px;
    height: 25px;
    background-color: #ccc;
    margin: 7px;
    box-shadow: 4px 4px rgba(0, 0, 0, .4);
    padding: 5px;
    box-sizing: border-box;
}

.checkBox-selected {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #523333;
    /* margin: 0px; */
}

#lista-btn_clear {
    position: absolute;

    top: 4px;
    right: 14px;
    width: 30px;
    height: 30px;
}

terms {

    background-color: #28EAA4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9999998;
}

#tems_copy {

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 90%;
    font-size: 12px;
    /* background-color: red; */
    margin-left: 5%;
    position: relative;
    height: 70%;
    margin-top: 40px;
}

terms .terms-row {
    position: relative;
    width: 100%;
    /* bottom: 40px; */
    margin-top: 13px;
}

.terms-row {
}

terms .label {
    font-size: 12px;

    position: relative;
    float: left;
    padding-top: 13px;
    padding-left: 6px;
}

terms .checkBox {
    float: left;
    margin-left: 11px;
}

terms .md-button {
    position: absolute;
    bottom: 10px;
    right: 12px;
}

reg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 99998;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666;
    text-align: center;
    display: -webkit-flex;
    /* -webkit-flex-direction: column; */
    /* -webkit-justify-content: center; */
    /* -webkit-align-items: center; */
    overflow: scroll;
    display: table;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

#reg-box-shadow {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    background-color: #2B2B2B;
    left: 10px;
    top: 80px;
    min-height: 396px;
    max-height: 430px;
    /* height: 70%; */
    display: none;
    height: 400px;
}

#reg-box-content {
    position: relative;
    /* width: 85%; */
    border-radius: 15px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    /* left: 8%; */
    text-align: center;
    /* top: 87px; */
    /* display: block; */
    /* min-height: 396px; */
    /* max-height: 430px; */
    height: 400px;
    box-shadow: 7px 7px 10px #2B2B2B;
}

#btn_facebook {

}

#btn_facebook img {

}

#reg-box-content h1 {
    font-size: 18px;
    color: #666;
    padding-top: 10px;
}

#reg-box-content boton-sistema {
    width: 200px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#reg-box-content boton-sistema img {
    width: 96%;
    margin-top: 5px;
}

#reg-box-content h2 {
    font-size: 12px;
}

#reg-box-content #reg-form {
    overflow: hidden;
    border-top: solid 1px #999;
}

#reg-box-content .reg-row {
    width: 100%;
    position: relative;
    clear: both;
    border-bottom: solid 1px #999;
    height: 36px;
    box-sizing: border-box;
    background-color: #E6E6E6;
}

#reg-box-content .reg-label {
    font-size: 10px;
    color: #333;
    position: relative;
    float: left;
    width: 70px;
    height: 40px;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    line-height: 10px;
    padding-top: 13px;
    text-align: left;
    padding-left: 20px;
    border-right: solid 1px #999;
}

#reg-box-content .reg-input {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    top: 0px;
    font-size: 14px;
    text-align: left;
    /* display: inline; */
    padding-left: 70px;
    width: 100%;
}

#reg-box-content md-button {
}

.reg-row input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    padding-left: 11px;
}

#reg-logo {
    height: 70px;

    margin-top: 11px;
}

.campoerror {
    background-color: #FBAEAE !important;
}

.reg-row check-box {

    float: none;
    display: inline-block;
    margin-top: -4px;
    float: left;
    margin-left: -9px;
    margin-right: 11px;
}

.reg-input > div {
    display: block;
    float: left;
    padding: 9px;
    font-size: 13px;
}

.reg-content-buttons {
    position: absolute;
    bottom: 0px;
    height: 53px;
    text-align: right;
    width: 100%;
}

#content-reg {
    width: 100%;
    height: 500px;
    /* background-color: aquamarine; */
    max-width: 400px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 5%;
    vertical-align: middle;
    display: table-cell;
}

.btn-omitir {
    float: left;
    color: grey !important;
}

.itemLista-count-favs {

    height: 20px;

    line-height: 20px;

    font-size: 10px;

    top: 64px;

    position: absolute !important;

    left: 5px;

    padding-left: 0 !important;
}

.itemLista-count-favs > img {

    width: 15px;
    float: left;
}

.itemLista-count-favs > div {

    float: left;
    margin-left: 3px;
    margin-top: 0px;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0px #000;

}




